﻿
@{
    ViewData["Title"] = "Боковая поверхность правильной пирамиды";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>square</title>
</head>
<body>
    <h1>Боковая поверхность правильной пирамиды</h1>
    <div>
        <figure>
            <img src="https://cdn.fxyz.ru/img/formulas/pyramid_right_surface.png" alt="Результат" />
        </figure>
        <form action="" method="post">
            <p>Периметр основания</p>
            <input type="number" name="perimetr" placeholder="Периметр" value="" />
            <br />
            <p>Aпофема</p>
            <input type="number" name="apophema" placeholder="Апофема" value="" />
            <br />
            <button id="button" class="btn-danger">Рассчитать</button>
            <br />

            <p>
                <h3>
                    Результат: @ViewBag.Result
                </h3>
            </p>
        </form>
    </div>

    <style>
        image{
            width: 500px;
            height: 500px;
            position:relative;
            top: 20px;
            bottom: 20px;
            margin-bottom:  10px;
        }
        *{
            text-align: center;
        }
       #button {
            margin-top: 10px;
        }
    </style>
</body>
</html>


